:root {
  /* Light Theme */
  --background-light: #fff;
  --border-light: rgba(128, 128, 128, 0.293);
  --secondary-light: rgba(140, 0, 255, 0.566);
  --link-text-light: #000;
}

html[data-theme="dark"] {
  /* Dark Theme */
  --background-dark: #212121;
  --border-dark: rgba(255, 255, 255, 0.1);
  --link-text-dark: white;
}
.profileDropDown {
  width: 250px;
  height: 100%;
  position: relative;
  border-left: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);

  .profBtn {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: var(--frame-hover);
    }

    .icon {
        color: var(--text-primary-light);
    }
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    color: var(--link-text-light);
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ div .modal {
      display: flex;
      animation: slidDown 0.3s ease-in forwards;
    }
  }

  .modal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 15px;
    background: var(--background-light);
    border-radius: 0 0 5px 5px;
    border-top: 1px solid var(--border-light);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    display: none;
    flex-direction: column;
    align-items: center;

    img {
      width: 150px;
    }

    .title {
      margin-top: 15px;
      color: var(--text-primary-light);
    }

    .oval {
      border: solid 1px var(--border-light);
      padding: 5px 10px;
      border-radius: 20px;
      font-size: 12px;
      font-weight: 600;
      margin-top: 7px;
      width: 75%;
      text-align: center;
      color: gray;
      cursor: pointer;

      &:hover {
        color: white;
        background: var(--brand-primary);
      }
    }
  }
}

html[data-theme="dark"] {
  .profileDropDown {
    border-left: 1px solid var(--border-dark);
    border-right: 1px solid var(--border-dark);

    .profBtn {
        .icon {
            color: var(--text-primary-dark);
        }
    }

    .title {
      color: var(--link-text-dark);
    }

    .modal {
      background: var(--background-dark);
      border-top: 1px solid var(--border-dark);
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);

      .title {
        color: var(--text-primary-dark);
      }

      .oval {
        border: solid 1px var(--border-dark);
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: white;
          background: var(--brand-primary);
        }
      }
    }
  }
}

@keyframes slidDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
