.edit {
    width: 28px;
    height: 28px;
    border: 1px solid rgba(128, 128, 128, 0.293);
    border-radius: 10px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border: none;
        background: rgba(140, 0, 255, 0.879);
        .icon {
            color: white;
        }
    }

    .icon {
        font-size: 16px;
        color: rgba(140, 0, 255, 0.879);
    }
}