.frame {
  display: flex;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.293);

  .frameActions {
    display: flex;
    height: 100%;
    // justify-content: end;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1rem;

    .frameButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      padding: 0 10px;
      // border-left: 1px solid rgba(128, 128, 128, 0.293);
      cursor: pointer;
      background: gray;
      width: 20px;
      height: 20px;
      border-radius: 50%;

      .icon {
        font-size: 14px;
        color: white;
      }

      &:nth-child(2):hover {
        background: rgba(255, 0, 0, 0.777);
      }
      &:nth-child(1):hover {
        background: rgba(128, 128, 128, 0.796);
      }
    }
  }

  .dragArea {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
}
