.frame {
  display: flex;
  height: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.293);

  .frameActions {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1rem;

    .frameButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      background: gray;
      width: 18px;
      height: 18px;
      border-radius: 50%;

      &:nth-child(2) {
        background: rgba(255, 0, 0, 0.777);
      }
      &:nth-child(1) {
        background: rgb(194, 194, 18);
      }
    }
  }

  .dragArea {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
}
