:root {
  /* Light Theme */
  --background-light: #fff; 
}

html[data-theme="dark"] {
  /* Dark Theme */
  --background-dark: #212121;
}

.frame {
  display: flex;
  height: 40px;
  border-bottom: 1px solid var(--border-light);
  background: var(--background-light);

  .frameActions {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1rem;

    .frameButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      width: 18px;
      height: 18px;
      border-radius: 50%;

      &:nth-child(2) {
        background: rgba(255, 0, 0, 0.777);
      }
      &:nth-child(1) {
        background: rgb(194, 194, 18);
      }
    }
  }

  .dragArea {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }
}


html[data-theme="dark"] .frame {
  background: var(--background-dark);
}